.login__wrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 20px;
  padding: 40px 50px;
  border-radius: 1.25rem;
  background: rgba(0, 18, 32, 0.2);
  box-shadow: 0 8px 32px 0 rgba(33, 108, 231, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  @media (width >= 200px) {
    margin: 0;
    width: 500px;
  }
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
    font-weight: 700;
    text-align: center;
  }
  h3 {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  .login__form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    .link {
      text-align: center;
      color: white;
      transition: all 0.375s;
      &:hover {
        color: #216ce7;
      }
    }
  }
}
  